.container { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr) 0.5fr repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.logo {
    grid-area: 1 / 2 / 3 / 5;
    text-align: center;
} 

.home { grid-area: 1 / 1 / 2 / 2;
    text-align: start;
} 

.sign { grid-area: 1 / 4 / 2 / 6;
    text-align: end; 
} 

.filter { grid-area: 4 / 1 / 6 / 6; background-color: #FFE2B7;padding: 30px; text-align: center; height: 290px;} 

.searchbar { grid-area: 3 / 1 / 4 / 6; 
text-align: center;} 

#search-bar{
    box-sizing: border-box;
    width: 800px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50px;
    padding-left: 20px;
}

#submit-bar{
    background-color: white;
    border-radius: 50px;
    border: 2px solid #000000;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#submit-bar:hover{
    cursor: pointer; 
    background-color:rgba(128, 128, 128, 0.108);
}

.text-buttons{
    background:none;
    border: none;
    margin: 0;
    padding:0;
    cursor: pointer;
    font-size: medium;
    font-weight: 900;
}

.text-buttons:hover{
    color: orange;
}

.filter-button{
    width: 200px;
    height: 60px;
    border: 2px solid #FAA75C;
    border-radius: 50px;
    font-weight: 900;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #FFE2B7;
}

.filter-button:hover{
    background-color: orange;
}
